<div class="wrapper">
  <header>
      <img
          src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/8137d222613001.57e56781e68ea.jpg"
          alt="Logo">
      <div>
        <form [formGroup]="form" *ngIf="!submitted">
          <input id="search-input" type="text" formControlName="short_id" placeholder="Chapter ID">
          <button class="btn" type="submit" (click)="getCollectionId()">Search</button>
        </form>
        <button class="btn" *ngIf="submitted" (click)="backToSearch()">Back to Search</button>
      </div>
  </header>
  <div class="content">
    <div class="instructions" [@slideIn] *ngIf="!submitted">
      <span>Provide ID of your chapter</span>
      <img src="assets/url.png" alt="URL">
    </div>
    <ng-container *ngIf="searchComplete">
      <ng-container *ngFor="let question of questions; let i = index">
        <div [@slideIn] class="qa">
          <span class="question">Q{{i+1}}: {{question.question_text}}</span>
          <span class="answer">
            Answer:
            <ng-container *ngIf="!question.correct_answer.filter; else answerArray">
             <b>{{question.correct_answer}};</b>
            </ng-container>
            <ng-template #answerArray>
              <ng-container *ngFor="let answer of question.correct_answer; let i = index">
              <b>{{answer ? answer + '; ' : ''}}</b>
              </ng-container>
            </ng-template>
          </span>
        </div>
      </ng-container>
    </ng-container>
    <div class="instructions" [@slideIn] *ngIf="errorOccured">
      <span class="error">Incorrect Chapter ID!</span>
    </div>
  </div>
</div>
